name: graphql

include:
  - path: ./server/compose.yml

services:
  elysia:
    build:
      target: development
    container_name: elysia-dev

volumes:
  graphql-data:
    driver: local
    name: graphql-data

networks:
  graphql-network:
    driver: bridge
    name: graphql-network
