name: graph

services:
  graphql:
    env_file: ".env"
    build:
      context: .
      target: development
      dockerfile: dockerfile
    extends:
      service: graphql
      file: ./docker/graphql.yml
    container_name: graphql-dev
  
  postgres:
    env_file: ".env"
    extends:
      service: postgres
      file: ./docker/postgres.yml
    container_name: postgres-dev

  migrations:
    env_file: ".env"
    build:
      context: .
      target: development
      dockerfile: dockerfile
    extends:
      service: migrations
      file: ./docker/migrations.yml
    container_name: migrations-dev

volumes:
  graphql-data:
    driver: local
    name: graphql-data

networks:
  graphql-network:
    driver: bridge
    name: graphql-network
