services:
  elysia:
    build:
      context: .
      dockerfile: dockerfile
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - graphql-network
    depends_on:
      postgres:
        condition: service_healthy
