services:
  elysia:
    build:
      context: .
      dockerfile: dockerfile
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - graphql-network
    environment:
      - DATABASE_URL=postgres://graph:p4ssw0rd@postgres:5432/graphql
    depends_on:
      postgres:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
  
  migrations:
    build:
      context: .
      target: development
      dockerfile: dockerfile
    container_name: migrations
    restart: "no"
    networks:
      - graphql-network
    entrypoint: ["bunx", "--bun", "prisma", "migrate", "deploy"]
    environment:
      - DATABASE_URL=postgres://graph:p4ssw0rd@postgres:5432/graphql
    depends_on:
      postgres:
        condition: service_healthy
