services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-graphql}
      POSTGRES_USER: ${POSTGRES_USER:-graph}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-p4ssw0rd}
    networks:
      - graphql-network
    volumes:
      - graphql-data:/var/lib/postgresql/data
